body{
  background-color: #fffcf8 !important;
}

  .buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  
  .buttons button {
    margin: 10px;
    width: 180px;
    padding: 5px;
    font: inherit;
    border: 2px solid #27272c!important;
    border-radius: 25px;
    background-color: white;
    outline: none;
    cursor: pointer;
  }
  
  
  .buttons button:nth-child(1) i {
    margin-right: 10px;
  }
  
  .buttons button:hover {
    color: white;
    background-color:#ed8074 !important;
  }
  
  @media ( min-width : 1025px) {
    .buttons {
      flex-direction: row;
      font-size: 15px;
  }
  .buttons button {
      padding: 8px;
  }
  }

.container
{
    width: 80% !important;
    margin-top: 10%;
    margin-right: 80px;
    margin-left: 80px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: white;
}
.jumbotron{
  height: 80% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}