.dropbtn {
  background-color: #27272c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown_hover {/*dimiourgisa to dropdown hover kai to dropdown click kai allaksa to pote mefanizetai to kathena tous sto sxolio me onoma ONCLICK/ONHOVER*/
  position: relative;
  display: inline-block;
}

.dropdown_click {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #27272c;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: #ddd !important;
  padding: 12px 16px;
  display: block;
}
.dropdown-content a:hover {background-color: #ee8175;color: white !important;text-decoration: none;}

.dropdown_hover:hover .dropdown-content {display: block;}/*ONCLICK/ONHOVER*/

.dropdown_hover:hover .dropbtn {background-color:#ee8175;color: white !important;}

.dropdown_click:hover .dropbtn {background-color:#ee8175;}

.show {display: block;}

.navbar-custom{
  background-color:#27272c;
}